{% extends "layout.html" %}

{% block title %}
    Etoitau Libray - {{ book.title }}
{% endblock %}

{% block content %}
<div class="content">
    <h3>Book Info</h3>
    <table>
        {% for field, value in [('Title', book.title), ('Author', book.author), ('Year', book.pub_year), ('ISBN', book.isbn)] %}
            <tr><td>{{ field }}: </td><td>{{ value }}</td></tr>
        {% endfor %}
    </table><br>
    <h3>Goodreads Info</h3>
    {% if gr_num %}
        <table class="infotable">
            <tr><td>Average Rating</td><td>Number of Ratings</td></tr>
            <tr><td>{{ gr_avg }}</td><td>{{ gr_num }}</td></tr>
        </table>
    {% else %}
    No Goodreads info found<br>
    {% endif %}
    <br>
    <h3>Reviews</h3>
    <form action="{{ url_for('reviews') }}" method="POST">
        <table class="infotable">
            <thead>
                <tr>
                    <th>User</th><th>Rating</th><th>Review</th>
                </tr>
            </thead>    
            <tbody>
                {% if user_rev %}
                    <tr><td>{{ username }}</td><td>{{ user_rev.rating }}</td><td>{{ user_rev.review }}</td></tr>
                {% else %}
                    <tr>
                        <td>{{ username}}</td>
                        <td>
                            <input type="hidden" name="book_id" value="{{ book.book_id }}" />
                            <select name="rating" required>
                                <option selected="true" disabled="disabled"></option> 
                                {% for n in range(1, 6) %}
                                    <option value="{{ n }}">{{ n }}</option>
                                {% endfor %}
                            </select> 
                        </td>
                        <td><textarea autocomplete="off" name="review" placeholder="Your review" rows="3" maxlength="50000"></textarea><br>
                            <button type="submit">Submit</button>
                        </td>
                        
                    </tr>    
                {% endif %}
                {% if book_revs %}
                    {% for rev in book_revs %}
                        <tr><td>{{ rev.username }}</td><td>{{ rev.rating }}</td><td>{{ rev.review }}</td></tr>
                    {% endfor %}    
                {% else %}
                    <tr><td></td><td></td><td>No other reviews</td></tr>
                {% endif %}                
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
